.card {
  direction: ltr;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  display: grid;
  grid-template-columns: 40% 60%;
  max-width: 90%;
  max-height: 130px;
  margin: 0.75rem 1.5rem 0.75rem 0.75rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.301);
  transition: all 250ms, scale 50ms ease-in-out, box-shadow 50ms ease-in-out;
  opacity: 1;
}

.card:hover,
.card:active,
.active {
  scale: 1.05;
  box-shadow: 0 0 3px 0px, inset 0 0 0 1px black;
}

.active {
  pointer-events: none;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.precipAndTemp {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.precipAndTemp img {
  height: 1.5rem;
  vertical-align: bottom;
}

.precipitates {
  display: flex;
  gap: 0.5rem;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  padding: 0 1rem 0.5rem 1rem;
}

.date > div {
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.date > div > span {
  font-size: 1.6rem;
  font-weight: 600;
}

.date p {
  text-align: center;
  margin: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.temp {
  margin-top: 0.4rem;
  margin-right: 0.4rem;
  font-size: 2.1rem;
  font-weight: 400;
}

.temp p {
  margin-top: 0;
  margin-bottom: 0;
}

.weekend {
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff416c,
    #ff4b2b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff416c,
    #ff4b2b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.weekday {
  background: beige;
}

.snow {
  background: linear-gradient(45deg, rgba(178, 178, 178, 0.3), white 70%);
}

.rain {
  background: linear-gradient(45deg, #bcbcbc 0%, #638a99 35%, #004466 90%);
}

.fog {
}

.wind {
}

.cloudy {
  background: linear-gradient(
    45deg,
    #d8eeee 0%,
    #64adc9 35%,
    #005986 90%,
    #005986
  );
}

.partly-cloudy-day {
  background: linear-gradient(45deg, hwb(197 76% 2%), hwb(210 79% 40%));
}

.clear-day {
  background: linear-gradient(45deg, hwb(180 61% 15%), #66d4ff);
}

@media (767px < width < 1201px) {
  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3rem 0 0.25rem 0;
    min-height: 2rem;
    width: 2rem;
    height: 2rem;
  }

  .card:hover,
  .card:active,
  .active {
    scale: 1.3;
  }

  .card div {
    display: none;
  }

  .descriptionContainer {
    display: block !important;
  }

  .precipAndTemp {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .precipitates {
    display: none !important;
  }

  .temp {
    display: block !important;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
  }

  .temp > p > span {
    display: none;
  }
}

@media (width < 767px) {
  .card {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    max-width: 6rem;
    gap: 0.5rem;
  }

  .description {
    display: none !important;
  }

  .precipAndTemp {
    display: block;
  }

  .precipitates {
    display: none;
  }

  .temp {
    margin: 0;
  }

  .temp > p > span {
    display: none;
  }
}
