.layout {
  display: grid;
  grid-template-columns: minmax(400px, 1fr) 3fr;
}

@media (767px < width < 1201px) {
  .layout {
    grid-template-columns: 1fr;
  }
}

@media (width < 767px) {
  .layout {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (width < 767px) and (orientation: landscape) {
  .layout {
    display: grid;
    grid-template-columns: 1fr;
  }
}
