.backdrop {
  backdrop-filter: blur(10px);
  transition: 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 20;
}

.prompt {
  background-color: white;
  text-align: center;
  max-height: 80%;
  max-width: 50%;
  margin: auto;
  padding: 3rem;
  border: 0px solid black;
  border-radius: 2rem;
  box-shadow: 0 0 10px 0px rgba(71, 71, 71, 0.801);
}

.input button {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border: 0;
  border-radius: 0.75rem;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  background-color: rgba(255, 255, 255, 0.952);
  border: 1px solid rgba(0, 69, 160, 0.479);
  box-shadow: 0 0 2px 0px rgba(0, 69, 160, 0.801);
}

.input button:hover {
  background-color: rgba(0, 69, 160, 0.1);
}

.input button:active {
  background-color: rgba(0, 69, 160, 0.3);
}

.input {
  padding: 1rem 0 1rem 0;
}

.fallback {
  font-weight: 600;
  color: red;
  text-align: center;
}

.hidden {
  display: none;
}

@media (767px < width < 1201px) {
}
