nav {
  font-size: 2.5rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

nav p {
  margin-top: 0;
  margin-bottom: 0;
}

nav button {
  text-align: center;
  margin: 0.5rem;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  padding: 0.2rem;
  background: rgba(255, 255, 255, 0.493);
}

nav button:hover {
  background: rgba(255, 255, 255, 0.692);
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.5);
}

nav button:active {
  scale: 0.98;
}

nav img {
  height: 2rem;
}

.searchCity {
  position: absolute;
  top: 0;
  right: 0;
}

.hamburgerContainer {
  position: relative;
  display: flex;
}

.contactInfo {
  transform: translateX(5rem);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
