.inputCity {
  transition: 1s;
  padding: 1rem;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px -5px black;
}

.hidden {
  display: none;
}

.inputCity * {
  border: 1px gray;
  background-color: rgba(255, 255, 255, 0.952);
  box-shadow: 0 0 2px 0px rgba(0, 69, 160, 0.801);
  padding: 0.5rem;
}

.inputCity input {
  text-align: center;
  border-radius: 0.3rem 0 0 0.3rem;
}

.inputCity button {
  cursor: pointer;
}

.lastButton {
  border-radius: 0 0.3rem 0.3rem 0;
}

.inputCity button:hover {
  background-color: rgba(0, 69, 160, 0.1);
}

.inputCity button:active {
  background-color: rgba(0, 69, 160, 0.3);
}
